<p>
  <strong>Name:</strong>
  <%= @animal.name %>
</p>

<p>
  <strong>Species:</strong>
  <%= @animal.species %>
</p>

<p>
  <strong>Text:</strong>
  <%= @animal.text %>
</p>

<h2>Comments</h2>
<%= render @animal.comments %>

<h2>Add a comment:</h2>
<%= render 'comments/form' %>

<%= link_to "Edit", edit_animal_path(@animal) %> |
<%= link_to "Back", animals_path %>
